<head id="test"></head>
<script>
    var url = window.location.href;
    var redirect_url = "https://90cos-cyt-training-systems-angular-mttl.90cos.com/mttl"
    console.log(url.split("#"))
    if (url.split("#").length > 1){
      redirect_url += url.split("#")[1]
    }
    document.getElementById("test").innerHTML =
"<meta http-equiv='Refresh' content='0; URL=" + redirect_url + "'></meta>"
</script>

